form {
	border: 1px solid #545454;
	border-radius: 3px;
	padding: 40px;
}

input {
	padding: 5px 20px;
	width: 100%;
	line-height: 16px;
	margin: 10px 0;
}

#submit__button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	width: 100%;
	cursor: pointer;
}
